body {
    margin-left: 35%;
    width: 400px;
    margin-right: 250px;
}

.navTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: sticky;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 3px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

h2 {
    margin-right: 200px;
    margin-bottom: 5px;
}

.authorAndButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.authorAndButtons p {
    margin-right: 290px;
}

button {
    height: 32px;
    width: 58px;
}